@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@300;400;700;800&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Outfit:wght@300;400;600&family=Roboto:wght@700&display=swap');
//style colors
$cyan: hsl(179, 62%, 43%);
$lime: hsl(71, 73%, 54%);
$gray: hsl(204, 43%, 93%);
$grayblue: hsl(218, 22%, 67%);

*{
    font-family: "Karla", sans-serif;
    font-size: 16px;
}
body{
    background-color: $gray;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 2rem repeat(3, 1fr) 2rem;
    grid-template-rows: 2rem repeat(4, 1fr) 2rem;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.heading{
    background-color: white;
    grid-area: 2 / 2 / 2 / 5;
    border-radius: .6rem;
    .heading-content{
        margin:3rem;
    }
}
    .heading-content{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 3.5rem;
        color: $grayblue;
        h1{
            color: $cyan;
            font-weight: 700;
            font-size: 2rem;
        }
        h3{
            color: $lime;
            font-weight: 700;
            font-size: 1.2rem;
        }
    }


.left{
    background-color: $cyan;
    grid-area: 3/2/3/5;
    color: white;
    h2{
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: .5rem;
    }
    p{
        margin-bottom: 4rem;
        font-size: 1rem;
    }
    .sign{
        
        text-align: center;
        padding: 1rem 40% 1rem 40%;
        background-color: $lime;
        border-radius: .5rem;
        text-decoration: none;
       
        color: white;
        font-weight: 700;
    }
}
.right{
    background-color: hsl(179, 62%, 63%);
    grid-area: 4/2/5/5;
    color: white;
    line-height: 1.5rem;
    h3{
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: .5rem;
    }
}

// .container, .container2{
//     display: flex;
//     flex-direction: column;
//     width: 100%;
// }

// .heading{
//     grid-template-columns: 2fr / 5fr;
//     grid-template-rows: 1fr;
//     padding: 3rem;
//     width: 100%;
//     height: 100%;
//     line-height: 2rem;
//     margin-left: 5%;
//     margin-right: 5%;
   
//     h1{
//         color: $cyan;
//         font-size: 20px;
//         font-weight: 700;
//     }
//     h3{
//         color: $lime;
//     }
//     p{
//         color: $grayblue;
//         max-width: 80%;
//     }
// }

// .left{
//     grid-template-columns: 2fr / 3fr;
//     grid-template-rows: 1fr;
//     padding-left: 4rem;
//     padding-right: 4rem;
//     width: 100%;
//     height: 100%;

//     line-height: 1.5rem;
//     background-color: $cyan;
//     color: white;
//     h1{
//         font-size: 20px;
//         font-weight: 700;
//     }
//     button{
//         display: block;
//         background-color: $lime;
//         border-radius: 6px;
//         border-style: none;
//         margin-top: 3rem;
//         margin-bottom: 3rem;
//         padding-top: 1rem;
//         padding-bottom: 1.5rem;
//         height: 30%;
//         width: 80%;
//         box-shadow: 1px 1px 5px rgb(79, 60, 60);
    
//         color: white;
//         font-weight: 700;
//     }
//     .bold{
//         font-size: 30px;
//         font-weight: 700;
//     }
// }

// .right{
//     grid-template-columns: 3fr/5fr;
//     grid-template-rows: 2fr;
//     padding-left: 4rem;
//     padding-right: 4rem;
//     width: 100%;
//     height: 100%;

//     line-height: 1.5rem;
//     background-color: $cyan;
//     color: white;
//     h1{
//         font-size: 20px;
//         font-weight: 700;
//     }
//     p{
//         width: 80%;
//         color: $gray;
//     }
// }




//DESKTOP details
@media only screen and (min-width: 800px){
    .container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .heading{
        grid-area: 2 / 2 / 2 / 6;
        background-color: white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }


    .left{
        grid-area: 3 / 2 / 3 / 4;
        background-color: $cyan;
        border-bottom-left-radius: 1rem;
        .sign{
        
            text-align: center;
            padding: 1rem 3rem 1rem 3rem;
            border-radius: 1rem;
            text-decoration: none;
           
            color: white;
            font-weight: 700;
        }
   
    }
    .right{
        grid-area: 3 / 4 / 3 / 6;
        
        border-bottom-right-radius: 1rem;
        h3{
            font-size: 1.2rem;
            margin: 0;
            margin-bottom: 1rem;
        }
    }
  


       

    }
 

    // @media only screen and (max-width: 915px) {
    //     .heading p{
    //         font-size: 13px;
    //         line-height: 1.2rem;
    //     .heading h1{
    //             font-size: 10px;
    //     }
    //     .card p{
    //     max-width: 100%;
    //     font-size: 10px;
    //     }
    //     h1{
    //         font-size: 10px;
    //     }
    
    //     .bold{
    //         font-size: .5rem;
    //     }
    //     }
    // }
    
    button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: $lime;
        border-radius: 6px;
        border-style: none;
        height: 30%;
        width: 100%;
        box-shadow: 1px 1px 5px rgb(79, 60, 60);
        text-align: center;
        color: white;
        font-weight: 700;
    }
    
    .card{
        padding: 3rem;
    }
    
    .cost{
    .bold{
        font-weight: 700;
        font-size: 30px;
        color: white;
        vertical-align: middle;
    }
    .month{
        margin-left: .5rem;
        color: $gray;
        vertical-align: center;
    }
    }
    
    footer{
        position: relative;
        bottom: 0%;
        left: 0%;

    }




